<html>

<head>
    <title>Page Title</title>
    <style>
    /* set the CSS */

    .area path {
        fill: lightsteelblue !important;
        stroke-width: 0;
    }

    .panel-heading a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }

    .panel-heading a.collapsed:after {
        content: "\e080";
    }

    #table_corr {
        font-size: 11px;
        cursor: pointer;
    }

    .line path {
        stroke: orange;
        stroke-width: 2;
        fill: none;
    }

    .pie path {

        stroke: #333;
        stroke-width: 0;
        transition: fill 150ms linear;
        transition-delay: 50ms;
    }

    .pie path:hover {
        stroke: #000;
        transition-delay: 0;
    }

    .bar rect {
        shape-rendering: crispEdges;
    }

    .bar text {
        fill: #999999;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    </style>
</head>

<body>

    <!-- d3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        d3_version4 = d3
        window.d3 = null
    </script>>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- vizjs -->
    <script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
    <!-- lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- simple statistic -->
    <script src="{{ url_for('static', filename='arr-stat.js') }}"></script>
    <!-- tipsy -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tipsy.js') }}"></script>
    <link href="{{ url_for('static', filename='tipsy.css') }}" rel="stylesheet" type="text/css" />
    <!-- bootstrap -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- scrolling nav -->
    <script src="{{ url_for('static', filename='scrolling-nav.js') }}"></script>
    <link href="{{ url_for('static', filename='scrolling-nav.css') }}" rel="stylesheet" type="text/css" />
    <!-- jasny -->
    <script src="{{ url_for('static', filename='jasny-bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='jasny-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- font -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- main -->
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
    <!-- plot -->
    <script src="{{ url_for('static', filename='plot.js') }}"></script>
    <!-- write table -->
    <script src="{{ url_for('static', filename='write-table.js') }}"></script>
    <!-- draw graph -->
    <script src="{{ url_for('static', filename='draw-graph.js') }}"></script>
    <!-- analysis -->
    <script src="{{ url_for('static', filename='draw-analysis.js') }}"></script>

    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#offCanvasMenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#intro">Flow & Pressure</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li class="">
                        <a data-toggle="collapse" data-target="#collapseOne" href="#">Network</a>
                    </li>
                    <li class="">
                        <a data-toggle="collapse" data-target="#collapseTwo" href="#">Node</a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#collapseThree" href="#">Edge</a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#collapseFour" href="#">Pump</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- Off Canvas Menu -->
    <nav id="offCanvasMenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation" style="padding-left:-600">
        <a class="navmenu-brand" href="./index.html"><b>Flow and Pressure</b></a>
        <p style="padding-left:15; padding-right:15">To solve for the optimal energy flow and pressure of the network, use the buttons below the network: </br>
            </br>
            1. Predirection - Redirect the network to get the feasible minimum energy flow direction. </br>
            </br>
            2. Imaginary - Solve the convex relaxation problem to find minimum energy flow and pressure. </br>
            </br>
            3. Improve solution - Improve the existing constraint gap from the pre-solve method to achieve better accuracy. </br>
            </br>
            View the information of the water network using the panel on the left. Enjoy!
        </p>
    </nav>
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Flow & Pressure</h1>
                    <p class="text-center">An interactive exploration of water distribution network</p>
                </div>
            </div>
            <div class="row" style="padding-top:40px">
                <div class="col-xs-8">
                    <svg id="graph-canvas" width="750" height="500"></svg>
                    <svg id="legend-canvas" width="750" height="84"></svg>
                    <div class="btn-group" style="padding-top:10px">
                        <!-- <input name="small" type="button" class="btn btn-default" value="Small" onclick="reset(1)"> -->
                        <input name="showdirection" id="direction-button" type="button" class="btn btn-danger" style="width: 70px !important;" value="Pause" onclick="loopAnimation()">
                        <input name="predirection" type="button" data-toggle="tooltip"  class="btn btn-default " value="Predirection" onclick="solvePredirection()">
                        <input id="imaginary-button" data-toggle="tooltip" style="border-radius: 0px 4px 4px 0px;" type="button" class="btn btn-default disabled" value="Imaginary" onclick="solveImaginary()" />
                        <div class="input-group" style="width: 250; padding-left:20;">
                            <input id="iteration" type="text" class="form-control" placeholder="Iteration">
                            <span class="input-group-btn">
                                <button id="iteration-button" data-toggle="tooltip"  class="btn btn-default disabled" type="button" onclick="solveIterative()">Improve Solution</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" id="panel1">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseOne" 
                                       href="#" style="color: grey;">
                                      Network
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getSummary()">Overview
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="plotPressureHist()">Pressure
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="plotFlowHist()">Flow
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="plotAnalysis()">Analysis
                                    </label>
                                    </br>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="plotGapHist()">Gap
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="plotEnergyLossHist()">Energy Loss
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="plotEnergyPumpHist()">Pump Energy
                                    </label>
                                    
                                    <div id="dynamic-table-summary" style="padding-top: 20;"></div>
                                    <svg id="summary-canvas" height="0"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="panel2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseTwo" 
                                       href="#" class="collapsed" style="color: grey;">
                                      Node
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getSourcesDynamic()">Sources
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getCustomersDynamic()">Customers
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getNodesDynamic()">Nodes
                                    </label>
                                    </br>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getKeyNodesDynamicLowest()">Lowest Pressure
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getKeyNodesDynamicHighest()">Highest Pressure
                                    </label>
                                    <div class="input-group" style="padding-left:60; padding-right:60; padding-top:15; padding-bottom:15">
                                        <input id="search_dynamic_node_id" type="text" class="form-control" placeholder="Node id">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="get_specified_node_dynamic()">Search</button>
                                        </span>
                                    </div>
                                    <div id="dynamic_table_node" style="height:300px; overflow-y:auto"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="panel3">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseThree"
                                   href="#" class="collapsed" style="color: grey;">
                                  Edge
                                </a>
                              </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <label class="radio-inline">
                                        <input id="dynamic_button" type="radio" name="optradio" onclick="getValvesDynamic()">Valves
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getEdgesDynamic()">Edges
                                    </label>
                                    </br>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getKeyEdgesDynamicLowest()">Lowest Flow
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" onclick="getKeyEdgesDynamicHighest()">Highest Flow
                                    </label>
                                    <div class="input-group" style="padding-left:60; padding-right:60; padding-top:15; padding-bottom:15">
                                        <input id="search_dynamic_edge_id" type="text" class="form-control" placeholder="Edge id">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="get_specified_edge_dynamic()">Search</button>
                                        </span>
                                    </div>
                                    <div id="dynamic_table_edge" style="height:300px; overflow-y:auto"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="panel4">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseFour"
                                   href="#" class="collapsed" style="color: grey;">
                                  Pump
                                </a>
                              </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="input-group" style="padding-left:60; padding-right:60; paddin-bottom:15;">
                                        <input id="search_pump_id" type="text" class="form-control" placeholder="Pump id">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="get_pump_curve()">Search</button>
                                        </span>
                                    </div>
                                    <div id="dynamic_table_pump" style="height:110px;"></div>
                                    <svg id="pump-curve-canvas" height="250"></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
    
    </script>
    
</body>

</html>